<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
        <style>
        .container{
    padding: 10px;
    border: 20px solid #9fc5e8;
    margin: 40px 100px 100px 100px
}

body{
    background: rgb(204, 242, 242);
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

    </style>

</head>
<body>
<div class="container">
<h1 align="center">Register</h1>
<form method="POST">
    {% csrf_token%}
    {{ form.as_p }}
    <button type="submit" class="btn">Save</button>
    <p class="text-center">If you already have an account, then click</p>
    <button type="submit" class="btn"><a href="{% url 'loggin' %}">Login</a></button>

</form>
</div>

</body>
</html>